.SegmentoAmericanoUno
{
	background: forestgreen;
}

.SegmentoAmericanoDos
{
	color: white;
	background: darkblue;
}

.SegmentoAfricanoUno
{
	background: yellow;
}

.SegmentoAfricanoDos
{
	background: red;
}

.SegmentoAsiáticoUno
{
	background: orange;
}

.SegmentoAsiáticoDos
{
	color: white;
	background: indigo;
}

.SegmentoEuropeoUno
{
	background: deepskyblue;
}

.SegmentoEuropeoDos
{
	background: hotpink;
}

.BanderaArgentina
{
	background-image: url('/resources/SVG/Flag_of_Argentina.svg');
	Background-size: contain;
}

.BanderaBrazil
{
	background-image: url('/resources/SVG/Flag_of_Brazil.svg');
	Background-size: contain;
}

.BanderaElSalvador
{
	background-image: url('/resources/SVG/Flag_of_El_Salvador.svg');
	Background-size: contain;
}

.BanderaEtiopía
{
	background-image: url('/resources/SVG/Flag_of_Ethiopia.svg');
	Background-size: contain;
}

.BanderaFrancia
{
	background-image: url('/resources/SVG/Flag_of_France.svg');
	Background-size: contain;
}

.BanderaAlemania
{
	background-image: url('/resources/SVG/Flag_of_Germany.svg');
	Background-size: contain;
}

.BanderaIndia
{
	background-image: url('/resources/SVG/Flag_of_India.svg');
	Background-size: contain;
}

.BanderaIsrael
{
	background-image: url('/resources/SVG/Flag_of_Israel.svg');
	Background-size: contain;
}

.BanderaRusia
{
	background-image: url('/resources/SVG/Flag_of_Russia.svg');
	Background-size: contain;
}

.BanderaEspaña
{
	background-image: url('/resources/SVG/Flag_of_Spain.svg');
	Background-size: contain;
}

.BanderaChina
{
	background-image: url('/resources/SVG/Flag_of_the_People\'s_Republic_of_China.svg');
	Background-size: contain;
}

.BanderaInglaterra
{
	background-image: url('/resources/SVG/Flag_of_the_United_Kingdom.svg');
	Background-size: contain;
}

.td
{
	font-size: 12px;
	font-family: 'Arial';
}