.SegmentoAmericanoUno
{
	background: forestgreen;
}

.SegmentoAmericanoDos
{
	color: white;
	background: darkblue;
}

.SegmentoAfricanoUno
{
	background: yellow;
}

.SegmentoAfricanoDos
{
	background: red;
}

.SegmentoAsiáticoUno
{
	background: orange;
}

.SegmentoAsiáticoDos
{
	color: white;
	background: indigo;
}

.SegmentoEuropeoUno
{
	background: deepskyblue;
}

.SegmentoEuropeoDos
{
	background: hotpink;
}

.BanderaArgentina
{
	background-image: url('/resources/SVG/Flag_of_Argentina.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaBrazil
{
	background-image: url('/resources/SVG/Flag_of_Brazil.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaElSalvador
{
	background-image: url('/resources/SVG/Flag_of_El_Salvador.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaEtiopía
{
	background-image: url('/resources/SVG/Flag_of_Ethiopia.svg');
	background-size: 140px 100px;
	background-repeat: no-repeat;
}

.BanderaFrancia
{
	background-image: url('/resources/SVG/Flag_of_France.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaAlemania
{
	background-image: url('/resources/SVG/Flag_of_Germany.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaIndia
{
	background-image: url('/resources/SVG/Flag_of_India.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaIsrael
{
	background-image: url('/resources/SVG/Flag_of_Israel.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaRusia
{
	background-image: url('/resources/SVG/Flag_of_Russia.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaEspaña
{
	background-image: url('/resources/SVG/Flag_of_Spain.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaChina
{
	background-image: url('/resources/SVG/Flag_of_the_People\'s_Republic_of_China.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaInglaterra
{
	background-image: url('/resources/SVG/Flag_of_the_United_Kingdom.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaJapón
{
	background-image: url('/resources/SVG/Flag_of_Japan.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaLiberia
{
	background-image: url('/resources/SVG/Flag_of_Liberia.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaLibia
{
	background-image: url('/resources/SVG/Flag_of_Libya.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaMéxico
{
	background-image: url('/resources/SVG/Flag_of_Mexico.svg');
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 24px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	transform: rotate(45deg);
}

.BanderaMarruecos
{
	background-image: url('/resources/SVG/Flag_of_Morocco.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaNigeria
{
	background-image: url('/resources/SVG/Flag_of_Nigeria.svg');
	background-size: contain;
}

.BanderaNoruega
{
	background-image: url('/resources/SVG/Flag_of_Norway.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaPanamá
{
	background-image: url('/resources/SVG/Flag_of_Panama.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaPolonia
{
	background-image: url('/resources/SVG/Flag_of_Poland.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaSudán
{
	background-image: url('/resources/SVG/Flag_of_Sudan.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.BanderaVenezuela
{
	background-image: url('/resources/SVG/Flag_of_Venezuela.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaEstadosUnidos
{
	background-image: url('/resources/SVG/Flag_of_the_United_States_\(Web_Colors\).svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaTurquía
{
	background-image: url('/resources/SVG/Flag_of_Turkey.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.BanderaGroenlandia
{
	background-image: url('/resources/SVG/Flag_of_Greenland.svg');
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 24px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	transform: rotate(-225deg);
}

.BanderaAustralia
{
	background-image: url('/resources/SVG/Flag_of_Australia_\(converted\).svg');
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 24px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	transform: rotate(225deg);
}

.EtiquetasDePreciosSuperior
{
	font-size: 12px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	transform: rotate(180deg);
}

.EtiquetasDePreciosIzquierdo
{
	font-size: 12px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	writing-mode: vertical-rl;
}

.EtiquetasDePreciosDerecho
{
	font-size: 12px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.EtiquetasDePreciosInferior
{
	font-size: 12px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
}

.Deportado
{
	font-size: 24px;
	font-family: 'Arial';
	text-align: center;
	vertical-align: middle;
	transform: rotate(-45deg);
}

.BanderasSuperiores
{
	transform: rotate(270deg) translateX(50px) translateY(-20px);
	position: relative;
}

.BanderasInferiores
{
	transform: rotate(90deg) translateY(20px);
}

.CeldaDeBanderaSuperior
{
	width:100px;
	height:140px;
}