.test
{
	text-align: center;
	padding: 20px;
	color: white;
	font-size: 90px;
	width: 800px;
	height: 400px;
	font-family: 'Arial';
	background-image: linear-gradient(135deg, #100080 0%, #1000C0 100%);
}

.gradient
{
	background: rgb(2,0,36);
	background: linear-gradient(333deg, rgba(0,0,40,1) 0%, rgba(16,0,128,1) 50%, rgba(16,0,255,1) 100%);
}

.bodyText
{
	color: white;
	font-size: 24px;
	font-family: 'Arial';
}